RabbitMqSummit2021/RabbitMqSummit2021.Common/RabbitMqSummit2021.Common.csproj
RabbitMqSummit2021/RabbitMqSummit2021.Common/Class1.cs
RabbitMqSummit2021/.vs/RabbitMqSummit2021/v16/.suo
RabbitMqSummit2021/.vs/RabbitMqSummit2021/config/applicationhost.config
RabbitMqSummit2021/.vs/RabbitMqSummit2021/DesignTimeBuild/.dtbcache.v2
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/RabbitMqSummit2021/v16/.suo
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/project.nuget.cache
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/project.assets.json
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/RabbitMqSummit2021.MessageContracts.csproj.nuget.g.targets
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/RabbitMqSummit2021.MessageContracts.csproj.nuget.g.props
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/RabbitMqSummit2021.MessageContracts.csproj.nuget.dgspec.json
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.pdb
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.dll
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.csprojAssemblyReference.cache
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.csproj.FileListAbsolute.txt
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.csproj.CoreCompileInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.assets.cache
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.AssemblyInfoInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.AssemblyInfo.cs
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/bin/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.pdb
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/bin/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.dll
RabbitMqSummit2021/RabbitMqSummit2021.MessageContracts/bin/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.deps.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/project.nuget.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/project.assets.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/RabbitMqSummit2021.EdgeFanout.csproj.nuget.g.targets
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/RabbitMqSummit2021.EdgeFanout.csproj.nuget.g.props
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/RabbitMqSummit2021.EdgeFanout.csproj.nuget.dgspec.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/apphost.exe
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.genruntimeconfig.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.csprojAssemblyReference.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.csproj.FileListAbsolute.txt
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.csproj.CoreCompileInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.csproj.CopyComplete
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.assets.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.AssemblyInfoInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.AssemblyInfo.cs
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.runtimeconfig.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.exe
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.deps.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Consumers.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Consumers.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMQ.Client.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/NewId.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/MassTransit.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/MassTransit.RabbitMqTransport.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/MassTransit.ExtensionsDependencyInjectionIntegration.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/GreenPipes.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Automatonymous.dll
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/project.nuget.cache
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/project.assets.json
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/RabbitMqSummit2021.Consumers.csproj.nuget.g.targets
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/RabbitMqSummit2021.Consumers.csproj.nuget.g.props
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/RabbitMqSummit2021.Consumers.csproj.nuget.dgspec.json
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.pdb
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.dll
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.csprojAssemblyReference.cache
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.csproj.FileListAbsolute.txt
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.csproj.CoreCompileInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.csproj.CopyComplete
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.assets.cache
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.AssemblyInfoInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.AssemblyInfo.cs
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/bin/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.pdb
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/bin/Debug/netstandard2.0/RabbitMqSummit2021.MessageContracts.dll
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/bin/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.pdb
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/bin/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.dll
RabbitMqSummit2021/RabbitMqSummit2021.Consumers/bin/Debug/netstandard2.0/RabbitMqSummit2021.Consumers.deps.json
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/project.nuget.cache
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/project.assets.json
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/RabbitMqSummit2021.Common.csproj.nuget.g.targets
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/RabbitMqSummit2021.Common.csproj.nuget.g.props
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/RabbitMqSummit2021.Common.csproj.nuget.dgspec.json
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.pdb
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.dll
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.csprojAssemblyReference.cache
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.csproj.FileListAbsolute.txt
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.csproj.CoreCompileInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.assets.cache
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.AssemblyInfoInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/RabbitMqSummit2021.Common.AssemblyInfo.cs
RabbitMqSummit2021/RabbitMqSummit2021.Common/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
RabbitMqSummit2021/RabbitMqSummit2021.Common/bin/Debug/netstandard2.0/RabbitMqSummit2021.Common.pdb
RabbitMqSummit2021/RabbitMqSummit2021.Common/bin/Debug/netstandard2.0/RabbitMqSummit2021.Common.dll
RabbitMqSummit2021/RabbitMqSummit2021.Common/bin/Debug/netstandard2.0/RabbitMqSummit2021.Common.deps.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/project.nuget.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/project.assets.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/RabbitMqSummit2021.CloudFanout.csproj.nuget.g.targets
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/RabbitMqSummit2021.CloudFanout.csproj.nuget.g.props
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/RabbitMqSummit2021.CloudFanout.csproj.nuget.dgspec.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/apphost.exe
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.genruntimeconfig.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.csprojAssemblyReference.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.csproj.FileListAbsolute.txt
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.csproj.CoreCompileInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.csproj.CopyComplete
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.assets.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.AssemblyInfoInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.AssemblyInfo.cs
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.runtimeconfig.dev.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeFanout.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.runtimeconfig.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.runtimeconfig.dev.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.exe
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudFanout.deps.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMQ.Client.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/NewId.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/MassTransit.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/MassTransit.RabbitMqTransport.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/GreenPipes.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Automatonymous.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/appsettings.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/System.Text.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/appsettings.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/System.Text.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/project.nuget.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/project.assets.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/RabbitMqSummit2021.CloudDirect.csproj.nuget.g.targets
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/RabbitMqSummit2021.CloudDirect.csproj.nuget.g.props
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/RabbitMqSummit2021.CloudDirect.csproj.nuget.dgspec.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/apphost.exe
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.genruntimeconfig.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.csprojAssemblyReference.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/MassTransit.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/MassTransit.RabbitMqTransport.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/GreenPipes.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Automatonymous.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.csproj.FileListAbsolute.txt
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.csproj.CoreCompileInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.csproj.CopyComplete
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.assets.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.AssemblyInfoInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.AssemblyInfo.cs
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/appsettings.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/System.Text.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.runtimeconfig.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.runtimeconfig.dev.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.exe
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.CloudDirect.deps.json
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMQ.Client.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/NewId.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeFanout/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.dll
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.pdb
RabbitMqSummit2021/RabbitMqSummit2021.CloudDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/RabbitMqSummit2021.EdgeDirect.csproj.nuget.g.targets
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/RabbitMqSummit2021.EdgeDirect.csproj.nuget.g.props
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/RabbitMqSummit2021.EdgeDirect.csproj.nuget.dgspec.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/apphost.exe
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.genruntimeconfig.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.csprojAssemblyReference.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.csproj.FileListAbsolute.txt
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.csproj.CoreCompileInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.csproj.CopyComplete
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.assets.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.AssemblyInfoInputs.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.AssemblyInfo.cs
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/appsettings.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/System.Text.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.MessageContracts.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.runtimeconfig.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.runtimeconfig.dev.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.exe
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.EdgeDirect.deps.json
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Consumers.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Consumers.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.pdb
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMqSummit2021.Common.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/RabbitMQ.Client.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/NewId.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/MassTransit.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/MassTransit.RabbitMqTransport.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/GreenPipes.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/bin/Debug/netcoreapp3.1/Automatonymous.dll
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/project.nuget.cache
RabbitMqSummit2021/RabbitMqSummit2021.EdgeDirect/obj/project.assets.json
